<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ProfilerEnableCommand" xsi:type="object">Mirasvit\Profiler\Console\Command\EnableCommand</item>
                <item name="ProfilerDisableCommand" xsi:type="object">Mirasvit\Profiler\Console\Command\DisableCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\Profiler\Block\Container">
        <arguments>
            <argument name="tabs" xsi:type="array">
                <item name="profilerTab" xsi:type="object">Mirasvit\Profiler\Block\Tab\Profiler</item>
                <item name="sqlTab" xsi:type="object">Mirasvit\Profiler\Block\Tab\Sql</item>
            </argument>
        </arguments>
    </type>

    <type name="Mirasvit\Profiler\Model\Profile\Pool">
        <arguments>
            <argument name="profiles" xsi:type="array">
                <item name="magento" xsi:type="object">Mirasvit\Profiler\Model\Profile\Magento</item>
                <item name="database" xsi:type="object">Mirasvit\Profiler\Model\Profile\Database</item>
            </argument>
        </arguments>
    </type>
</config>