@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
html,
body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
}
a {
  color: #278cba;
}
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}
table tr th,
table tr td {
  padding: 10px;
}
table tr th {
  background-color: #514943;
  border: 1px solid #8a837f;
  color: #ffffff;
  font-weight: 600;
}
table tr th:first-child {
  border-left: 0;
}
table tr th:last-child {
  border-right: 0;
}
table tr td {
  background-color: #ffffff;
  border-left: 1px dashed #d6d6d6;
  border-right: 1px dashed #d6d6d6;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}
table tr:nth-child(even) td {
  background: #f5f5f5;
}
table tr:last-child td {
  border-bottom: 1px solid #d6d6d6;
}
table tr:hover td {
  background: #e5f7fe;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.metric {
  border: 1px solid #d6d6d6;
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.metric strong {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  display: block;
  padding: 10px;
}
.metric i {
  display: block;
  background: #d6d6d6;
  font-style: normal;
  text-align: center;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
}
.tabs-container .tabs {
  list-style: none;
  padding: 0 10px 0 10px;
  margin: 0;
  background: #514943;
}
.tabs-container .tabs li {
  display: inline-block;
  background: #514943;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #8a837f;
}
.tabs-container .tabs li:last-child {
  border: none;
}
.tabs-container .tabs li:hover {
  background: #6d625a;
}
.tabs-container .tabs li._active {
  background: #6d625a;
}
.tabs-container .tab-content {
  width: 100%;
  display: none;
  padding: 10px;
}
