.mirasvit-profiler__container {
  background: #fff;
  position: relative;
  z-index: 100000;

  .mirasvit-profiler__container-toolbar {
    height: 41px;
    width: 100%;
    background: #373330;
    border-top: 1px solid #736963;
    position: relative;
    color: #AAA6A0;
  }

  .mirasvit-profiler__container-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 2rem;

    > li {
      padding: 0.8rem 2.5rem 1rem 2.5rem;
      display: inline-block;
      border: none;
      margin: 0.3rem 0.3rem 0 0;
      background: transparent;
      border-top: 0.3rem solid transparent;
      font-weight: bold;

      &:hover {
        background: #524D49;
        border-top: 0.3rem solid #eb5202;
        cursor: pointer;
      }

      &._active {
        background: #524D49;
        color: #fff;
        border-top: 0.3rem solid #eb5202;
      }
    }
  }

  .mirasvit-profiler__container-tab-content {
    padding: 2rem;
  }

  .mirasvit-profiler__container-info {
    position: absolute;
    top: 12px;
    right: 15px;

    .mirasvit-profiler__container-info-item {
      margin-left: 3rem;
      display: inline-block;

      .fa {
        margin-right: 5px;
      }
    }
  }

}

.mirasvit-profiler-clearfix {
  .lib-clearfix();
}
